/* Global Styles */
body {
  font-family: "Roboto", sans-serif;
  background-color: #cfe2f3;
  color: #3b5998;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}

body.dark {
  background-color: #2c3e50;
  color: #a0d0f0;
}

/* Universal Styles */
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #333;
}

/* Ensure other sections are not disturbed */
.about,
.intro,
.work,
.education,
.contact,
.footer {
  padding: 1rem 1rem; /* Adjust padding for all sections */
  background-color: #f3f7fa; /* Default background color for other sections */
  position: relative;
  z-index: 1; /* Ensure other sections stay below the iframe */
}
